/*This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.*/
body {
    padding-top: 20px;
    padding-bottom: 40px;
}
.nav-pills li {
    padding-right: 0.2em;
}
.jumbotron {
    margin: 3.750em 0;
    text-align: center;
    background-color: #FFF;
}
.jumbotron h1 {
    font-size: 50px;
    line-height: 1;
}
.jumbotron .btn-lg {
    font-size: 21px;
    padding: 14px 24px;
}
/* Custom container */
.container {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Mod download menu */
.dropdown-menu {
    padding-left: 5px;
    padding-right: 5px;
}
.sub-lead {
    margin-top: -15px;
}
/* Centered subheadings */
.subheadings .col-md-6 {
    text-align: center;
}
.subheadings .col-md-6 p {
    margin-left: 10px;
    margin-right: 10px;
}
/* Forum Page list */
.forum-list {
    text-align: left;
    padding-left: 20px;
}
/* Hub jumbotron stuff */
.jumbotron .sub-lead {font-size:14px;}
.jumbotron .lead {
   margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
}
.sub-lead {margin-top: -15px;}
#hub-logo {
    float: right;
}
@media (max-width : 390px) {
    #hub-logo {
        float: none;
    }
}
#hub-jumbotron-text {
    text-align: left;
}
/* Award/Badge box at member records */
.award-box {
    text-align: right;
    padding-top: 10px;
}
/* Some additional badge colors and style */
.badge {
    cursor: default;
}
.label {
    cursor: default;
}
.badge-bronze {
    background-color: #BD6F2D;
}
.badge-silver {
    background-color: #B7BDBD;
}
.badge-diamond {
    background-color: #E0FFFF;
    color: #446;
    border: 1px solid #AAA;
}

/* If this seems weird, it is */
#content {
    clear: both;
    overflow: hidden;
}
h1, h2, h3 {line-height: 40px;}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: inherit;
    text-rendering: optimizelegibility;
    margin-top: 10px;
    margin-right: 0em;
    margin-bottom: 10px;
    margin-left: 0em;
}
h2 {
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
}
@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
