<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Wolfy1339 &middot; {{ page.title }}</title>

<!-- favicons -->
<link rel="icon" href="/img/wolf.svg" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon32.png" />
<link rel="icon" type="image/png" sizes="48x48" href="/img/favicon48.png" />

<!-- meta -->
<meta name="keywords" content="wolfy1339, bmn, powder toy, tpt, techno156" />
<meta name="description" content="{{ page.description }}">
<meta name="google-site-verification" content="4lR7BiwhfA_pRKzUqOfetn4TYMokB6DVHsnIe63-3Rg" />
<meta name="google-site-verification" content="ED3ELN5Ld4TA27rVYMx6_hoXMDZqA3oa23fGr-Egj5g" />
<meta name="msvalidate.01" content="57B77663C1E3F51F4E0EB692FABFB7DA" />
<meta name="msvalidate.01" content="57B77663C1E3F51F4E0EB692FABFB7DA" />

<!-- flip-Ahead -->
<!--<link rel="next" href="infos.html" />-->

<!-- CSS -->
<link href="//vps.wolfy1339.tk/Resources/css/m8tro-blue.min.css" rel="stylesheet prefetch" />
<link href="/style.css" rel="stylesheet prefetch" />

<!-- Compatibility layer for ie -->
<!--[if lt IE 9]>
<script src="/html5shiv.js"></script>
<script src="/respond.min.js"></script>
<![endif]-->

<!-- Fix for IE mobile -->
<script type="text/javascript">if(navigator.userAgent.match(/IEMobile\/10\.0/)){var msViewportStyle=document.createElement("style");msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));document.querySelector("head").appendChild(msViewportStyle)}</script>
