<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li{% if page.title == "Hub" %} class="active"{% endif %}><a href="Home.html">Hub</a></li>
    <li{% if page.title == "IRC" %} class="active"{% endif %}><a href="irc.html">IRC</a></li>
    <li {% if page.title == "Hub" %}class="active"{% else %}class="disabled"{% endif %} title="Not released yet"><a href="#">TPT Mod</a></li>
  </ul>
  {% if page.nav %}
  <h2>Wolfy1339<br><small>{{ page.nav }}</small></h2>
  {% else %}
  <h2>Wolfy1339<br><small>{{ page.tile }}</small></h2>
  {% endif %}
</div>
